	<article class='event'>
		<header>
			<%= image_for(@event) %>
			<h2><%= @event.name %></h2>
		</header>
			<p>
				<%= @event.description %>
			</p>
			<table>
				<tr>
					<th>When:</th>
					<td><%= @event.starts_at %></td>
				</tr>
				<tr>
					<th>Where:</th>
					<td><%= @event.location %></td>
				</tr>
				<tr>
					<th>Price:</th>
					<td><%= format_price(@event) %> </td>
				</tr>
				<tr>
					<th>Capacity:</th>
					<td><%= pluralize(@event.capacity, 'spot') %></td>
				</tr>
			</table>
	</article>

<%= link_to "Edit", edit_event_path(@event) %> |

<%= link_to 'Delete', event_path(@event), method: :delete, data: {confirm: 'Are you sure?'} %>